@media screen and (max-width:1024px) {
    .navbar{
        position: relative;
        height: 30px;
    }

    .menu{
        display: none;
    }

    .logo{
        margin: 0;
        text-align: center;
    }


    
}