@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kalam&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Kalam&family=Roboto:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    height: 100px;
    background-color: cadetblue;
}

.logo{
    flex: 20%;
    border: 1px solid blue;
    text-align: center;
    font-family: 'Great Vibes', cursive;

    font-family: 'Cookie', cursive;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px black;
}

.menu{
    flex: 80%;
    border: 1px solid red;
    text-align: right;
    padding: 20px;
}